.body {
    padding-top: 50px;
}

.jumbotron {
    margin-bottom: 0px;
    margin-left: -40px;
    margin-right: -40px;
    min-height: 550px;
    background-image: url(../images/jumbotronbackground3.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color:#F8F8F8 ;
    text-shadow: black 0.1em 0.2em 0.3em;
}

.articleDiv{
	background-color: white;	
	border-style: groove;
	margin-bottom: 100px;
	border-radius: 10px;
}

.articleDiv-content{
	border-top: groove;
	padding: 10px;
}

.thought{
	color:blue;
}

.thought:hover{
	color:red;
}
/* footer-------*/
footer {
    background-color: #303030 ;
	color:#F8F8F8 ;
	
	
}
footer a{
	color:#F8F8F8 ;
}

footer a:hover{
	color:#F8F8F8 ;
}
footer a:visited{
	color:#F8F8F8 ;
}


/* portfolio-------*/

section#portfolio {
	padding-bottom: 0;
}
section#portfolio h1 {
	font-size: 3em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}
section#portfolio hgroup h2 {
	margin-top: 1em;
	text-transform: capitalize;
}
section#portfolio hgroup h3 {
	margin-top:  .35em;
	font-family: 'Patua One', cursive;
}
section#portfolio .entry-content {
	margin: 1em 0 2.5em;
}
section#portfolio .align {
	text-align:center;
	margin-top:10px;
	font-size:6em;
}
/* Portfolio Image Hover */
.mask2 img {
	margin: 0 auto;
	max-width: 100%;
	display: block;
	opacity: 0.8;
	
}
.mask2 img:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	opacity: 1;
}

.more-link {
	font-size: .875em; /* 14px */
	margin-top: 1.5em;
	font-family: 'Patua One', cursive;
}

section#team .align, section#contact .align {
	font-size: 6em;
	text-align: center;
}
#team h1, #contact h1 {
	font-size: 3em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}
#contact, #team {
	padding-top: 4.75em;
}
#team {
	padding-bottom: 0;
}
#contact {
	padding-bottom: 0;
}
/* team */

#team h3 {
	font-size: 26px;
	margin-top: 24px;
}

#team h3, .job-position {
	text-align: center;
}
.teamalign {
	text-align:center;
}
.team-thumb {
	margin-top: 26px;
	text-align:center;
}

#team .featurette {
	text-align: center;
	font-size: 21px;
}
#team h2.featurette-heading {
	margin-bottom: 24px;
}


.job-position {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: .46155em;
}

hr.featurette-divider {
	margin: 50px;
	border-width: 0px;
	height: 9px;
	background-color: #303030;
	
}
 